<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>aulas estranhas</title>
  <style>
    body {
      background-color: #6484ec;
      font-family: Comic Sans MS;
    }

    h1 {
      color: green;
      text-align: center;
    }

    table {
      width: 80%;
      margin: auto;
      background-color: yellow;
      border: 5px solid red;
      border-collapse: collapse; /* 🔥 ESSENCIAL */
    }

    th, td {
      border: 2px solid black; /* 🔥 coloca linha em tudo */
      padding: 10px;
      text-align: center;
    }

    th {
      background-color: cyan;
    }
  </style>
</head>

<body>

  <h1>aulas de autonomia doméstica boa</h1>

  <table>
    <tr>
      <th>ID</th>
      <th>Título</th>
      <th>Autor</th>
    </tr>

    {{#each aulas}}
    <tr>
      <td>{{id}}</td>
      <td>{{titulo}}</td>
      <td>{{autor}}</td>
    </tr>
    {{/each}}

  </table>

</body>
</html>