<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>loja de jujubas raras</title>

  <style>
    body {
      background-color: lightblue;
      font-family: Comic Sans MS;
    }

    h1 {
      text-align: center;
      color: purple;
    }

    table {
      width: 80%;
      margin: auto;
      border: 5px dotted green;
      border-collapse: collapse;
      background-color: pink;
    }

    th, td {
      border: 2px solid black;
      padding: 10px;
      text-align: center;
    }

    th {
      background-color: yellow;
    }

    tr:hover {
      background-color: orange;
    }
  </style>
</head>

<body>

  <h1>🍬 loja de jujubas raras 🍬</h1>

  <table>
    <tr>
      <th>ID</th>
      <th>Produto</th>
      <th>Preço</th>
    </tr>

    <% jujubas.forEach(function(item) { %>
      <tr>
        <td><%= item.id %></td>
        <td><%= item.produto %></td>
        <td>RS$ <%= item.preco %></td>
      </tr>
    <% }); %>

  </table>

</body>
</html>