<!DOCTYPE html>
<html>
  <head>
    <title>LOJA DE JUJUBAS</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>LOJA DE JUJUBAS GRAÚDAS</h1>
    <p>SÓ VENDEMOS JUJUBAS GRANDES E GRAÚDAS E NATURAIS</p>
    <a href="/jujuba"><button>ver jujubas</button></a>
  </body>
</html>
