<!DOCTYPE html>
<html>
  <head>
    <title>LOJA DE JUJUBA</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>LOJA</h1>
    <p>jujuba de tripa de porco</p>
    <img src="https://i.ytimg.com/vi/FesYIp-ooic/hq720.jpg?sqp=-oaymwEhCK4FEIIDSFryq4qpAxMIARUAAAAAGAElAADIQj0AgKJD&rs=AOn4CLCOEFdNO5ILL3ISo8P4EKCQFIhBJA">
    <p></p>
    <a href="/jujuba/carrinho"><button>compre já</button></a>
    <p>jujuba de tripa de cavalo</p>
    <img src="https://i.ytimg.com/vi/cpmJz2pLJl4/hq720.jpg?sqp=-oaymwEhCK4FEIIDSFryq4qpAxMIARUAAAAAGAElAADIQj0AgKJD&rs=AOn4CLDGc_TAISk4cHpOF9w0DQZEvLIrtg">
    <p></p>
    <a href="/jujuba/carrinho"><button>compre já</button></a>
    
  </body>
</html>
