doctype html
html
  head
    meta(charset="UTF-8")
    title espelunca.shop - carrinho
    style.
      body {
        background: #999;
        font-family: "Comic Sans MS", cursive;
      }
      .container {
        width: 700px;
        margin: auto;
        background: #cfcfcf;
        border: 5px ridge #444;
        padding: 20px;
      }
      h1 {
        color: darkred;
        text-align: center;
      }
      table {
        width: 100%;
        background: white;
        border: 3px groove black;
      }
      th {
        background: yellow;
        border: 1px solid black;
      }
      td {
        border: 1px dashed black;
        padding: 6px;
        text-align: center;
      }
      button {
        background: red;
        color: white;
        border: 2px outset black;
        cursor: pointer;
      }
      .total {
        font-size: 20px;
        margin-top: 10px;
        text-align: right;
      }

  body
    .container
      h1 🖥 espelunca.shop
      h2 seu carrinho horrível

      table
        thead
          tr
            th Produto
            th Preço
            th Qtd
            th Ação

        tbody
          tr
            td Placa de vídeo usada suspeita
            td R$ 399
            td
              input(type="number" value="1" min="1")
            td
              button remover

          tr
            td CPU que esquenta muito
            td R$ 250
            td
              input(type="number" value="2" min="1")
            td
              button remover

          tr
            td HD barulhento 500GB
            td R$ 80
            td
              input(type="number" value="1" min="1")
            td
              button remover

      .total
        | Total: R$ 979

      br
      button finalizar compra
      button voltar pra loja