extends layout 

block content
    h1= "NOSSOS PRODUTOS"
    img(src="https://pensamentoverde.com.br/wp-content/uploads/2013/11/img62.jpg")
    p= "PC TOPE"
    img(src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT4V_AOIuwO9DIUwQYlL2gaZOk1ntew7boNgA&s")
    p= "PC DE HACKER"
    a(href="/produtos/carrinho")
        button= "VER CARRINHO"